<!DOCTYPE html>
<html>
    <head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Biblioteca</title>

	</head>

    <body>
        <div id="actions">
            <button onclick="location.href = '/add_book'">Add book</button>
        </div>
        
        <div id="account_management">
            <button onclick="location.href='/logout'" type="button">Logout</button>
        </div>
        
        <div id="books">
            {% if books|length > 0 %}
                <ul>
                    {% for book in books %}
                        <li>
                            <a href="/reader?book_id={{book[0]}}">{{book[1]}}</a>
                            <form action="/delete_book" method="post">
                                <input type="hidden" name="book_id" value="{{book[0]}}">
                                <input type="submit" name="Delete" value="Delete" />
                            </form>
                        </li>
                        <br>
                    {% endfor %}
                </ul>
            {% else %}
                <p><b>No books in store</b></p>
            
            {% endif %}
        </div>

    </body>

        
</html>

<style>
       
    #actions {
        top: 1%;
        left: 2%;
        position: relative;
    }

    #account_management {
        top: 1%;
        right: 2%;
        position: absolute;
    }

    #books {
        top: 5%;
        position: absolute;
    }

    form {
        display: inline-block;
    }

</style>
