<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
        <script src="{{url_for('static', filename='js/takepic.js')}}"></script>
        
		<title>Reminder App</title>
	</head>

	<body>
		<center><h1>Delete User</h1></center>

		<div id="camera" style="height:auto;width:auto; text-align:left; display: none;"></div>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <button onclick="takepic()" type="button">Scan my face</button>

        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        <button onclick="location.href='/signup'" type="button">Signup</button>
        {% endif %}

	</body>

	<script>
        // CAMERA SETTINGS.
        Webcam.set({
            width: 220,
            height: 190,
            image_format: 'jpeg',
            jpeg_quality: 100
        });
        Webcam.attach('#camera');
    
        
    </script>
</html>