<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reminder App</title>
    </head>

    <body>
        <center><h1>Signup</h1></center>

        <form action="/signup" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <input type="submit" value="Save My Face">
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
        </form>

    </body>
</html>